/* CSS para smartphones */
@media screen and (max-width: 480px) {
    /* texto */
    .text_nome {
        margin-left: -30% !important;
        width: 155% !important;
    }

    /* input */

    .next-input {
        max-width: 95% !important;
    }
    .next-input-telefone {
        max-width: 80% !important;
    }
    .next-input-cep {
        max-width: 32% !important;
    }

    .next-input-frete {
        max-width: 28% !important;
    }
    .next-input-estado {
        max-width: 23%;
    }
    .next-input-cidade {
        max-width: 39% !important;
    }
    .next-input-bairro {
        max-width: 40% !important;
    }
    .next-input-numero {
        max-width: 42% !important;
    }
    .next-input-obs {
        margin-top: 5% !important;
        max-width: 97% !important;
    }
    .next-input-endereco {
        max-width: 84% !important;
    }
    .next-input-apto {
        max-width: 96% !important;
        margin-left: 2% !important;
        max-height: 20% !important;
    }
    .next-input-info {
        max-width: 110% !important;
    }

    .semnumero {
        margin-left: 250%;
    }

    .andes-form-control {
        margin-left: -10% !important;
    }

    .button-confirm {
        width: 250% !important;
        top: 30%;
        left: -15%;
    }

    .button-cancel {
        width: 250% !important;
        top: 30%;
        left: -15%;
    }
}

/* CSS para tablets e dispositivos móveis */

@media screen and (max-width: 645px) {
    .modal-content {
        width: 90%; /* faz o modal ocupar 90% da largura da tela */
        height: 70%; /* ajusta a altura automaticamente */
        padding: 20px;
    }

    /* texto */
    .text_linha_1 {
        display: grid;
        max-width: 200%;
    }

    .text_nome {
        padding-right: 3%;
        max-width: 630%;
    }

    /* selecao */

    .andes-form-control {
        margin-left: 1% !important;
    }

    .semnumero {
        left: -300%;
    }
}

@media screen and (max-width: 768px) {
    /* texto */
    .text_nome {
        margin-left: -10%;
        width: 130%;
    }

    /* input */

    .next-input-dd {
        max-width: 14%;
        height: 20%;
    }

    .next-input-cep {
        max-width: 27%;
    }

    .next-input-numero {
        max-width: 25%;
    }

    .next-input-endereco {
        max-width: 27%;
    }
    /* alertas */

    .andes-form-control {
        left: 10%;
    }

    .alertas_1 {
        display: grid;
    }

    #warningMessage_telefone {
        margin-top: 5%;
    }
}

/* CSS para tablets e dispositivos móveis */
@media screen and (max-width: 900px) {
    .modal-content {
        max-width: 90%; /* faz o modal ocupar 90% da largura da tela */
        height: 70%; /* ajusta a altura automaticamente */
        padding: 20px;
    }

    .close {
        color: #888;
        float: right;
        font-size: 58px;
        width: 50px;
        height: 50px;
        font-weight: bold;
        margin-right: -6%;
        margin-top: -6%;
        cursor: pointer;
    }

    /* texto */
    .text_info {
        margin-left: -16%;
        width: 150%;
    }

    /* inputs */
    .next-input {
        max-width: 92.5%;
    }
    .next-input-telefone {
        max-width: 78%;
        height: 20%;
    }

    .next-input-cidade {
        max-width: 33%;
        height: 20%;
    }
    .next-input-obs {
        max-width: 92%;
    }
    .next-input-prazo {
        width: 38%;
        max-height: 20%;
    }

    .next-input-numero {
        max-width: 36%;
    }
    .next-input-apto {
        max-width: 32.7%;
        height: 20%;
    }

    .next-input-info {
        max-width: 92%;
    }

    .input-checkbox {
        left: -5%;
    }

    /* selecao */

    .andes-form-control {
        right: -18%;
    }

    /* buttons */

    .button-confirm {
        width: 80%;
        margin-top: 30%;
        margin-left: -97%;
    }

    .button-cancel {
        width: 80%;
        margin-top: 30%;
        margin-left: 2%;
    }

    /* alertas */

    .alertas_1 {
        width: 10%;
        margin-top: 0%;
    }

    #warningMessage_dd {
        margin-left: 2%;
    }

    #warningMessage_telefone {
        margin-left: 2%;
    }

    #numero-error {
        margin-left: 3%;
    }
}

/* Estilos para tablets */
@media screen and (max-width: 992px) {
    .modal-content {
        width: 60%;
    }
    /* texto */
    .text_linha_1 {
        margin-left: 35%;
        width: 35%;
    }

    .text_linha_2 {
        margin-left: 38%;
        width: 20%;
    }

    .text_linha_5 {
        margin-left: 15%;
        width: 73%;
    }
    /* inputs */
    .next-input {
        margin-left: 2%;
        width: 95%;
        height: 20%;
    }

    .next-input-dd {
        height: 20%;
    }

    .next-input-telefone {
        width: 82.5%;
        margin-top: 1%;
        margin-left: -1%;
        height: 20%;
    }

    .next-input-cep {
        width: 45%;
        height: 20%;
    }

    .next-input-estado {
        width: 30%;
        height: 20%;
    }

    .next-input-cidade {
        width: 40%;
        height: 20%;
    }
    .next-input-prazo {
        max-width: 24%;
        margin-left: 2%;
        height: 20%;
    }

    .next-input-frete {
        max-width: 30.3%;
        height: 20%;
    }

    .next-input-numero {
        max-width: 39.9%;
        margin-top: 1%;
        height: 20%;
    }

    .next-input-obs {
        max-width: 95.5%;
        margin-top: 2%;
        height: 20%;
    }

    .next-input-bairro {
        max-width: 30.5%;
        height: 20%;
    }

    .next-input-endereco {
        height: 20%;
    }

    .next-input-apto {
        max-width: 35%;
        margin-left: 0%;
        height: 20%;
    }

    .next-input-info {
        width: 95.5%;
        height: 20%;
    }

    .input-checkbox {
        width: 1%;
        margin-left: 88%;
        margin-top: -25px;
    }

    /* selecao */

    .andes-form-control {
        margin-left: 5%;
    }

    /* buttons */

    .buttons {
        width: 40%;
        margin-top: -12%;
        margin-left: 57%;
    }

    /* alertas */

    .alertas_1 {
        width: 100%;
        display: grid;
    }

    #warningMessage_dd {
        margin-left: 2%;
    }

    #warningMessage_telefone {
        margin-top: 2%;
        margin-left: 2%;
    }

    .alertas_2 {
        width: 90%;
    }

    #numero-error {
        margin-left: 3%;
    }

    .alertas_3 {
        width: 90%;
    }
}

/* Estilos para desktops/laptops pequenos */
@media (min-width: 993px) and (max-width: 1199px) {
    .modal-content {
        width: 50%; /* faz o modal ocupar a totalidade da largura da tela */
        padding: 10px;
    }
    /* texto */
    .text_linha_1 {
        margin-left: 2%;
        width: 35%;
    }

    .text_linha_2 {
        margin-left: 1%;
        width: 40%;
    }

    .text_linha_5 {
        margin-left: 0%;
        width: 93%;
    }
    /* inputs */
    .next-input {
        width: 45%;
    }

    .next-input-telefone {
        width: 35%;
        margin-left: -1%;
    }

    .next-input-cep {
        width: 15%;
    }

    .next-input-estado {
        width: 10%;
    }

    .next-input-frete {
        width: 11%;
    }

    .next-input-cidade {
        width: 19%;
    }

    .next-input-numero {
        max-width: 21.8%;
        margin-right: -50%;
        margin-top: 1%;
    }

    .next-input-obs {
        width: 95.5%;
        margin-top: 4% !important;
    }

    .next-input-bairro {
        max-width: 22%;
    }

    .next-input-endereco{
        width: 23%;
    }
    .next-input-apto {
        width: 47%;
        margin-left: 2%;
    }

    .next-input-info {
        width: 92.5%;
    }

    .input-checkbox {
        width: 1%;
        right: 6%;
        margin-top: -35px;
    }

    /* selecao */

    .andes-form-control {
        margin-left: 25%;
        margin-top: -3%;
    }

    /* buttons */

    .buttons {
        width: 87%;
        margin-top: 0%;
        margin-left: 15%;
    }

    /* alertas */

    .alertas_1 {
        width: 100%;
        display: grid;
    }

    #warningMessage_dd {
        margin-left: 2%;
    }

    #warningMessage_telefone {
        margin-left: 2%;
    }

    .alertas_2 {
        width: 90%;
        display: flex;
    }

    #numero-error {
        margin-left: 3%;
    }

    .alertas_3 {
        width: 90%;
        display: flex;
    }
}

/* Estilos para desktops/laptops pequenos */
@media screen and (min-width: 1200px) {
    .modal-content {
        width: 55%; /* faz o modal ocupar a totalidade da largura da tela */
        padding: 10px;
    }
    /* texto */
    .text_linha_1 {
        margin-left: 2%;
        width: 35%;
    }

    .text_linha_2 {
        margin-left: 1%;
        width: 40%;
    }

    .text_linha_5 {
        margin-left: 0%;
        width: 93%;
    }
    /* inputs */
    .next-input {
        width: 45%;
    }

    .next-input-telefone {
        width: 38%;
        margin-left: -1%;
    }

    .next-input-cep {
        width: 15%;
    }

    .next-input-estado {
        width: 10%;
    }

    .next-input-frete {
        width: 11%;
    }

    .next-input-cidade {
        width: 18.7%;
    }

    .next-input-numero {
        width: 25%;

    }

    .next-input-obs {
        width: 95%;
        margin-top: 2.5%;
    }

    .next-input-bairro {
        width: 31%;
    }

    .next-input-apto {
        width: 47.4%;
        margin-left: 2%;
    }

    .next-input-info {
        width: 94.5%;
    }

    .next-input-endereco{
        width: 13.5%;
    }

    .input-checkbox {
        width: 1%;
        right: 6%;
        margin-top: -35px;
    }

    /* selecao */

    .andes-form-control {
        margin-left: 10%;
    }

    /* buttons */

    .buttons {
        width: 40%;
        margin-top: -9%;
        margin-left:55%;
    }


    /* alertas */

    .alertas_1 {
        width: 100%;
    }

    #warningMessage_dd {
        margin-left: 2%;
    }

    #warningMessage_telefone {
        margin-left: 2%;
    }

    .alertas_2 {
        width: 90%;
        display: flex;
    }

    #numero-error {
        margin-left: 3%;
    }

    .alertas_3 {
        width: 90%;
        display: flex;
    }
}

@media screen and (min-width: 1500px) {
    .modal-content {
        width: 57%; /* faz o modal ocupar a totalidade da largura da tela */
        padding: 10px;
    }
    /* texto */
    .text_linha_1 {
        margin-left: 2%;
        width: 35%;
    }

    .text_linha_2 {
        margin-left: 1%;
        width: 40%;
    }

    .text_linha_5 {
        margin-left: 0%;
        width: 93%;
    }
    /* inputs */
    .next-input {
        width: 44%;
    }

    .next-input-telefone {
        width: 40.5%;
        margin-left: -1%;
    }

    .next-input-cep {
        width: 15%;
    }

    .next-input-estado {
        width: 10%;
    }

    .next-input-frete {
        width: 11%;
    }

    .next-input-cidade {
        width: 18.3%;
    }

    .next-input-prazo{
        margin-left: 2.2%;
    }
    .next-input-numero {
        width: 27%;

    }

    .next-input-obs {
        width: 94.4%;
        margin-top: 2.5%;
    }

    .next-input-bairro {
        width: 31%;
    }

    .next-input-apto {
        width: 47.1%;
        margin-left: 2%;
    }

    .next-input-info {
        width: 94.4%;
    }

    .next-input-endereco{
        width: 13.5%;
    }

    .input-checkbox {
        width: 1%;
        right: 5%;
        margin-top: -35px;
    }

    /* selecao */

    .andes-form-control {
        margin-left: 10%;
    }

    /* buttons */

    .buttons {
        width: 40%;
        margin-top: -7%;
        margin-left:55%;
    }


    /* alertas */

    .alertas_1 {
        width: 100%;
    }

    #warningMessage_dd {
        margin-left: 2%;
    }

    #warningMessage_telefone {
        margin-left: 2%;
    }

    .alertas_2 {
        width: 90%;
        display: flex;
    }

    #numero-error {
        margin-left: 3%;
    }

    .alertas_3 {
        width: 90%;
        display: flex;
    }

}

@media screen and (min-width: 1600px) {
    .modal-content {
        width: 57%; /* faz o modal ocupar a totalidade da largura da tela */
        padding: 10px;
    }
    /* texto */
    .text_linha_1 {
        margin-left: 2%;
        width: 35%;
    }

    .text_linha_2 {
        margin-left: 1%;
        width: 40%;
    }

    .text_linha_5 {
        margin-left: 0%;
        width: 93%;
    }
    /* inputs */
    .next-input {
        width: 46%;
    }

    .next-input-telefone {
        width: 40.5%;
        margin-left: -1%;
    }

    .next-input-cep {
        width: 28%;
    }

    .next-input-estado {
        width: 10%;
    }

    .next-input-frete {
        width: 11%;
    }

    .next-input-cidade {
        width: 22%;
    }

    .next-input-prazo{
        margin-left: 2.2%;
    }
    .next-input-numero {
        width: 29.5%;

    }

    .next-input-obs {
        width: 95.2%;
        margin-top: 2.5%;
    }

    .next-input-bairro {
        width: 31%;
    }

    .next-input-apto {
        width: 48%;
        margin-left: 2%;
    }

    .next-input-info {
        width: 95%;
    }

    .next-input-endereco{
        width: 13.5%;
    }

    .input-checkbox {
        width: 1%;
        right:3%;
        margin-top: -35px;
    }

    /* selecao */

    .andes-form-control {
        margin-left: 10%;
    }

    /* buttons */

    .buttons {
        width: 40%;
        margin-top: -6%;
        margin-left:55%;
    }


    /* alertas */

    .alertas_1 {
        width: 100%;
    }

    #warningMessage_dd {
        margin-left: 2%;
    }

    #warningMessage_telefone {
        margin-left: 2%;
    }

    .alertas_2 {
        width: 90%;
        display: flex;
    }

    #numero-error {
        margin-left: 3%;
    }

    .alertas_3 {
        width: 90%;
        display: flex;
    }

}
