/* CSS para smartphones */
@media screen and (max-width: 480px) {
    .modal-content {
        width: 1%; /* faz o modal ocupar a totalidade da largura da tela */
        padding: 10px;
    }
    /* texto */
    .text_linha_1 {
        margin-left: 2%;
        width: 32%;
    }

    .text_linha_2 {
        margin-left: 1%;
        width: 40%;
    }

    .text_linha_5 {
        margin-left: 2%;
        width: 90%;
    }
    /* inputs */
    .next-input {
        width: 94%;
    }

    .next-input-telefone {
        width: 76.8%;
        margin-left: -1%;
    }

    .next-input-cidade {
        width: 32%;
    }

    .next-input-numero {
        width: 51%;
        margin-right: -50%;
        margin-top: 1%;
    }

    .next-input-obs {
        width: 94%;
        margin-top: 5%;
    }

    .next-input-bairro {
        width: 60.5%;
    }

    .next-input-apto {
        width: 94.3%;
        margin-left: 2%;
    }

    .next-input-info {
        width: 94.5%;
    }

    .input-checkbox {
        margin-left: 70%;
        margin-top: -35px;
    }

    /* selecao */

    .andes-form-control {
        margin-left: 14%;
    }

    /* buttons */

    .buttons {
        margin-top: 0%;
        margin-left: 6%;
    }

    /* alertas */

    .alertas_1 {
        width: 70%;
        display: grid;
    }

    #warningMessage_dd {
        margin-left: 2%;
    }

    #warningMessage_telefone {
        margin-left: 2%;
    }

    .alertas_2 {
        width: 90%;
        display: flex;
    }

    #numero-error {
        margin-left: 3%;
    }

    .alertas_3 {
        width: 90%;
        display: flex;
    }
}

/* CSS para tablets e dispositivos móveis */
@media screen and (max-width: 768px) {
    .modal-content {
        width: 90%; /* faz o modal ocupar 90% da largura da tela */
        height: auto; /* ajusta a altura automaticamente */
        padding: 20px;
    }
}

/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 992px) {
    .modal-content,
    form,
    .next-input,
    .next-input-dd,
    .next-input-telefone,
    .next-input-cep,
    .next-input-estado,
    .next-input-cidade,
    .next-input-prazo,
    .next-input-frete,
    .next-input-numero,
    .next-input-obs,
    .next-input-endereco,
    .next-input-bairro,
    .next-input-apto,
    .next-input-info {
        width: 80%;
    }
    .button-confirm,
    .button-cancel {
        width: 45%;
        height: 3em;
    }
}

/* Estilo para telas menores que 800px */
@media screen and (max-width: 800px) {
    .modal-content {
        width: 90%;
        height: 90%;
    }
}

/* Estilos para desktops/laptops pequenos */
@media (min-width: 993px) and (max-width: 1199px) {
    .modal-content,
    form,
    .next-input,
    .next-input-dd,
    .next-input-telefone,
    .next-input-cep,
    .next-input-estado,
    .next-input-cidade,
    .next-input-prazo,
    .next-input-frete,
    .next-input-numero,
    .next-input-obs,
    .next-input-endereco,
    .next-input-bairro,
    .next-input-apto,
    .next-input-info {
        width: 70%;
    }
    .button-confirm,
    .button-cancel {
        width: 45%;
        height: 3em;
    }
}

/* Estilos para desktops extra grandes */
